{% extends 'budgie_website/base.html' %}

{% block content %}
<html>
    <hr>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1><b>About Page</b></h1>

        <p>
               <h2><b><u>About Website</u></b></h2><br>
            <em>
              <center>
                This is budgie world a website which allows you to get everything on budgies including
                Guides,Media,buying and selling budgies and even budgie merch.
                We hope to provide even more budgie related features.<br><br>
              </center>
            </em>
              <h2><b><u>Future Plans</u></b></h2><br>
            <em>
                <center>
                    We are planning to add add more features and we are also working on a 3D game
                    which I sure hope will make a lot of young budgie lovers exited.
                    If you have any doubts or suggestions you can email us<br><br><br>
                </center>
            </em>
            <button type="button" class="btn btn-link">
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNstzGKxhtbjTKgJNhwckTcvmqphhkWSvVHJNFtcqPFwcLrJGKsMMLrttKdvrXqLPHRDnq"  
                data-inline="true"><h2>&emsp;Email</h2></a></button>
          </p>
        </body>
        <style>
          em {
            font-size: large;
            font-style: large;
            font-size-adjust: unset;
            font-variant-position: initial;
            font: bolder;
            color: black;
          }
        </style>
      </html>
      
    </body>

</html>

{% endblock %}