<html>
  {% load static %}
  <head>
    <title>Login Form</title>
    <link rel="stylesheet" href={% static 'admin/css/login_styles.css' %} type="text/css" />
    <body>
      <div class="loginbox">
        <img src="{% static "budgie_website/media/avatar.png" %}" class="avatar" />
        <h1>Login here</h1>

        <form action="http://127.0.0.1:8000/login/" method="post">
          {% csrf_token %}
          <p>Username</p>
          <input type="text" id=username name="username" placeholder="Enter Username" Required/>
          <p>password</p>
          <input type="password" id="password" name="password" placeholder="Enter password" Required/>
          <p>Submit</p>

          {% for message in messages %}   
          <div class="alert alert-{{message.tags}} alert-dismissable fade show" role="alert"></div>
          &emsp;&emsp;{{message}}
          {% endfor %}
          
          <input type="submit" name="" value="Login" />
          <a href="http://127.0.0.1:8000/lost_password/">Lost your password?</a><br>
          <a href="http://127.0.0.1:8000/sign_in/">Dont have an account?</a>
        </form>
      </div>
    </body>
  </head>
</html>
