<html>
  {% load static %}
  <head>
    <title>Recover Password</title>
    <link rel="stylesheet" href={% static 'admin/css/lostpass_styles.css' %} type="text/css" />
    <body>
      <div class="loginbox">
        <img src="{% static "budgie_website/media/avatar.png" %}" class="avatar" />
        <h1>Recover lost password</h1><br>

        <form action="http://127.0.0.1:8000/otp/">
          <p>Username</p>
          <input type="text" name="" placeholder="Enter account username" />
          <p>Username</p>
          <input type="text" name="" placeholder="Enter email" />
          <p>Email</p><br>
            <input type="submit" name="" value="Send OTP" />
          <a href="http://127.0.0.1:8000/login/">Remember your password?</a><br>
          <a href="http://127.0.0.1:8000/sign_in/">Dont have an account?</a>
        </form>
     </div>
    </body>
  </head>
</html>