<html>
  {% load static %}
  <head>
    <title>New password</title>
    <link rel="stylesheet" href={% static 'admin/css/newpass_styles.css' %} type="text/css" />
    <body>
      <div class="loginbox">
        <img src="{% static "budgie_website/media/avatar.png" %}" class="avatar" />
        <h1>Change your old password here</h1>

        <form action="http://127.0.0.1:8000/login/"> 
          <p>New password</p>
          <input type="password" name="" placeholder="New password" />
          <p>Confirm password</p>
          <input type="password" name="" placeholder="Confirm password" />
            <input type="submit" name="" value="confirm" />
        </form>
      </div>
    </body>
  </head>
</html>
