<html>
  {% load static %}
  <head>
    <title>Register Account</title>
    <link rel="stylesheet" href={% static 'admin/css/register_styles.css' %} type="text/css" />
    <body>
      <div class="loginbox">
        <img src="{% static "budgie_website/media/avatar.png" %}" class="avatar" />
        <h1>Resister your account here</h1>

        <form action="http://127.0.0.1:8000/login/">
          <p>Username</p>
          <input type="text" name="" placeholder="Enter Username" />
          <p>password</p>
          <input type="password" name="" placeholder="Enter password" />
          <p>password</p>
          <input type="password" name="" placeholder="Confirm password" />
          <p>Submit</p><br>
          <input type="submit" name="" value="Register Account" />
          <a href="http://127.0.0.1:8000/login/">Already have an account?</a>
        </form>
     </div>
    </body>
  </head>
</html>
